<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SystemImagePath" value="" />
    <add key="ModelID" value="" />
    <add key="Width" value="412" />
    <add key="Height" value="412" />
    <add key="ThreadNum" value="4" />
    <add key="IP" value="192.168.54.9" />
    <add key="Port" value="8080" />
    <add key="IP1" value="192.168.1.190" />
    <add key="Port1" value="8800" />
    <add key="ImgTime" value="10" />
    <add key="ImgStart" value="input " />
    <add key="ImgEnd" value="start_inference" />
    <add key="FPGAStart" value="finished " />
    <add key="UDPNum" value="8192" />
    <add key="UDPReturn" value="63476" />
    <add key="DLLReturnNum" value="24" />
    <add key="ShowNum" value="0.3" />
    <add key="PYPath" value="F:\git\source-code\SPDP\SPDP\bin\Debug\spwvd" />
    <add key="PYName" value="spwvd_data.py" />
    <add key="PYimgpath" value="F:\git\source-code\SPDP\SPDP\bin\Debug\spwvd\picsave" />
    <add key="PYimgname" value="1" />
    <add key="ClassName" value="0+背景,1+飞机,2+自行车,3+鸟,4+船,5+瓶子,6+公共汽车,7+汽车,8+猫,9+椅子,10+牛,11+餐桌,12+狗,13+马,14+摩托车,15+人,16+盆栽,17+羊,18+沙发,19+火车,20+电视监视器," />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="FPS" value="80" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.38.0.0" newVersion="1.38.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.38.0.0" newVersion="1.38.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
