@charset "UTF-8";

.testswitch {
	position: relative;
	float: left;
	width: 90px;
	margin: 0;
	margin-left: 50px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin-top: 40px;
}

.testswitch1 {
	position: relative;
	float: left;
	width: 90px;
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin-top: 40px;
}

.testswitch2 {
	position: relative;
	float: left;
	width: 90px;
	margin-left: 50px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.testswitch-checkbox, .testswitch-checkbox1, .testswitch-checkbox2,
	.testswitch-checkbox3, .testswitch-checkbox4, .testswitch-checkbox5,
	.testswitch-checkbox6, .testswitch-checkbox7, .testswitch-checkbox8,
	.testswitch-checkbox9, .testswitch-checkbox10, .testswitch-checkbox11,
	.testswitch-checkbox12, .testswitch-checkbox13, .testswitch-checkbox14,
	.testswitch-checkbox15, .testswitch-checkbox16, .testswitch-checkbox17,
	.testswitch-checkbox18, .testswitch-checkbox19, .testswitch-checkbox20
	{
	display: none;
}

.testswitch-label, .testswitch-label1, .testswitch-label2,
	.testswitch-label3, .testswitch-label4, .testswitch-label5,
	.testswitch-label6, .testswitch-label7, .testswitch-label8,
	.testswitch-label9, .testswitch-label10, .testswitch-label11,
	.testswitch-label12, .testswitch-label13, .testswitch-label14,
	.testswitch-label15, .testswitch-label16, .testswitch-label17,
	.testswitch-label18, .testswitch-label19, .testswitch-label20 {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #999999;
	border-radius: 20px;
}

.testswitch-inner, .testswitch-inner1, .testswitch-inner2,
	.testswitch-inner3, .testswitch-inner4, .testswitch-inner5,
	.testswitch-inner6, .testswitch-inner7, .testswitch-inner8,
	.testswitch-inner9, .testswitch-inner10, .testswitch-inner11,
	.testswitch-inner12, .testswitch-inner13, .testswitch-inner14,
	.testswitch-inner15, .testswitch-inner16, .testswitch-inner17,
	.testswitch-inner18, .testswitch-inner19, .testswitch-inner20 {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.testswitch-inner::before, .testswitch-inner::after, .testswitch-inner1::before,
	.testswitch-inner1::after, .testswitch-inner2::before,
	.testswitch-inner2::after, .testswitch-inner3::before,
	.testswitch-inner3::after, .testswitch-inner4::before,
	.testswitch-inner4::after, .testswitch-inner5::before,
	.testswitch-inner5::after, .testswitch-inner6::before,
	.testswitch-inner6::after, .testswitch-inner7::before,
	.testswitch-inner7::after, .testswitch-inner8::before,
	.testswitch-inner8::after, .testswitch-inner9::before,
	.testswitch-inner9::after, .testswitch-inner10::before,
	.testswitch-inner10::after, .testswitch-inner11::before,
	.testswitch-inner11::after, .testswitch-inner12::before,
	.testswitch-inner12::after, .testswitch-inner13::before,
	.testswitch-inner13::after, .testswitch-inner14::before,
	.testswitch-inner14::after, .testswitch-inner15::before,
	.testswitch-inner15::after, .testswitch-inner16::before,
	.testswitch-inner16::after, .testswitch-inner17::before,
	.testswitch-inner17::after, .testswitch-inner18::before,
	.testswitch-inner18::after, .testswitch-inner19::before,
	.testswitch-inner19::after, .testswitch-inner20::before,
	.testswitch-inner20::after {
	display: block;
	float: right;
	width: 50%;
	height: 30px;
	padding: 0;
	line-height: 30px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}

.testswitch-inner::after, .testswitch-inner1::after, .testswitch-inner2::after,
	.testswitch-inner3::after, .testswitch-inner4::after,
	.testswitch-inner5::after, .testswitch-inner6::after,
	.testswitch-inner7::after, .testswitch-inner8::after,
	.testswitch-inner9::after, .testswitch-inner10::after,
	.testswitch-inner11::after, .testswitch-inner12::after,
	.testswitch-inner13::after, .testswitch-inner14::after,
	.testswitch-inner15::after, .testswitch-inner16::after,
	.testswitch-inner17::after, .testswitch-inner18::after,
	.testswitch-inner19::after, .testswitch-inner20::after {
	content: attr(data-on);
	padding-left: 10px;
	background-color: #00e500;
	color: #FFFFFF;
}

.testswitch-inner::before, .testswitch-inner1::before,
	.testswitch-inner2::before, .testswitch-inner3::before,
	.testswitch-inner4::before, .testswitch-inner5::before,
	.testswitch-inner6::before, .testswitch-inner7::before,
	.testswitch-inner8::before, .testswitch-inner9::before,
	.testswitch-inner10::before, .testswitch-inner11::before,
	.testswitch-inner12::before, .testswitch-inner13::before,
	.testswitch-inner14::before, .testswitch-inner15::before,
	.testswitch-inner16::before, .testswitch-inner17::before,
	.testswitch-inner18::before, .testswitch-inner19::before,
	.testswitch-inner20::before {
	content: attr(data-off);
	padding-right: 10px;
	background-color: #EEEEEE;
	color: #999999;
	text-align: right;
}

.testswitch-switch, .testswitch-switch1, .testswitch-switch2,
	.testswitch-switch3, .testswitch-switch4, .testswitch-switch5,
	.testswitch-switch6, .testswitch-switch7, .testswitch-switch8,
	.testswitch-switch9, .testswitch-switch10, .testswitch-switch11,
	.testswitch-switch12, .testswitch-switch13, .testswitch-switch14,
	.testswitch-switch15, .testswitch-switch16, .testswitch-switch17,
	.testswitch-switch18, .testswitch-switch19, .testswitch-switch20 {
	position: absolute;
	display: block;
	width: 22px;
	height: 22px;
	margin: 4px;
	background: #FFFFFF;
	top: 0;
	bottom: 0;
	right: 56px;
	border: 2px solid #999999;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}

.testswitch-checkbox:checked+.testswitch-label .testswitch-inner,
	.testswitch-checkbox1:checked+.testswitch-label1 .testswitch-inner1,
	.testswitch-checkbox2:checked+.testswitch-label2 .testswitch-inner2,
	.testswitch-checkbox3:checked+.testswitch-label3 .testswitch-inner3,
	.testswitch-checkbox4:checked+.testswitch-label4 .testswitch-inner4,
	.testswitch-checkbox5:checked+.testswitch-label5 .testswitch-inner5,
	.testswitch-checkbox6:checked+.testswitch-label6 .testswitch-inner6,
	.testswitch-checkbox7:checked+.testswitch-label7 .testswitch-inner7,
	.testswitch-checkbox8:checked+.testswitch-label8 .testswitch-inner8,
	.testswitch-checkbox9:checked+.testswitch-label9 .testswitch-inner9,
	.testswitch-checkbox10:checked+.testswitch-label10 .testswitch-inner10,
	.testswitch-checkbox11:checked+.testswitch-label11 .testswitch-inner11,
	.testswitch-checkbox12:checked+.testswitch-label12 .testswitch-inner12,
	.testswitch-checkbox13:checked+.testswitch-label13 .testswitch-inner13,
	.testswitch-checkbox14:checked+.testswitch-label14 .testswitch-inner14,
	.testswitch-checkbox15:checked+.testswitch-label15 .testswitch-inner15,
	.testswitch-checkbox16:checked+.testswitch-label16 .testswitch-inner16,
	.testswitch-checkbox17:checked+.testswitch-label17 .testswitch-inner17,
	.testswitch-checkbox18:checked+.testswitch-label18 .testswitch-inner18,
	.testswitch-checkbox19:checked+.testswitch-label19 .testswitch-inner19,
	.testswitch-checkbox20:checked+.testswitch-label20 .testswitch-inner20
	{
	margin-left: 0;
}

.testswitch-checkbox:checked+.testswitch-label .testswitch-switch,
	.testswitch-checkbox1:checked+.testswitch-label1 .testswitch-switch1,
	.testswitch-checkbox2:checked+.testswitch-label2 .testswitch-switch2,
	.testswitch-checkbox3:checked+.testswitch-label3 .testswitch-switch3,
	.testswitch-checkbox4:checked+.testswitch-label4 .testswitch-switch4,
	.testswitch-checkbox5:checked+.testswitch-label5 .testswitch-switch5,
	.testswitch-checkbox6:checked+.testswitch-label6 .testswitch-switch6,
	.testswitch-checkbox7:checked+.testswitch-label7 .testswitch-switch7,
	.testswitch-checkbox8:checked+.testswitch-label8 .testswitch-switch8,
	.testswitch-checkbox9:checked+.testswitch-label9 .testswitch-switch9,
	.testswitch-checkbox10:checked+.testswitch-label10 .testswitch-switch10,
	.testswitch-checkbox11:checked+.testswitch-label11 .testswitch-switch11,
	.testswitch-checkbox12:checked+.testswitch-label12 .testswitch-switch12,
	.testswitch-checkbox13:checked+.testswitch-label13 .testswitch-switch13,
	.testswitch-checkbox14:checked+.testswitch-label14 .testswitch-switch14,
	.testswitch-checkbox15:checked+.testswitch-label15 .testswitch-switch15,
	.testswitch-checkbox16:checked+.testswitch-label16 .testswitch-switch16,
	.testswitch-checkbox17:checked+.testswitch-label17 .testswitch-switch17,
	.testswitch-checkbox18:checked+.testswitch-label18 .testswitch-switch18,
	.testswitch-checkbox19:checked+.testswitch-label19 .testswitch-switch19,
	.testswitch-checkbox20:checked+.testswitch-label20 .testswitch-switch20
	{
	right: 0px;
}

